.sidebar {
  width: 250px;
  background-color: #ececec;
  color: rgb(22, 22, 22);
  padding: 20px;
  height: 100vh;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.sidebar .logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar .logo {
  width: 90px; /* Specific to the sidebar */
  height: auto;
}

.sidebar .organization-name h1 {
  font-size: 18px;
  margin-bottom: 30px;
}

.sidebar .nav-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar .nav-menu li {
  margin-bottom: 15px;
}

.sidebar .nav-menu a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  display: block;
  padding: 12px;
  border-radius: 4px;
}

.sidebar .nav-menu .active {
  background-color: #580049;
  color: #ffffff;
}

.sidebar .nav-menu a:hover {
  background-color: #bb8fce;
  color: #111111;
}

.sidebar .footer {
  text-align: center;
  font-size: 12px;
  color: #292929;
  position: absolute;
  bottom: 20px;
  width: 210px;
}

.top-right-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.top-right-container .member-type {
  font-size: 16px;
  color: #580049;
}

.top-right-container .icon {
  font-size: 26px;
  color: #580049;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: relative;
}

.top-right-container .icon:hover {
  transform: scale(1.2);
}

/* Style for the top-right container */
.top-right-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  background-color: #ffffff; /* Adjust as needed */
}

.icon {
  font-size: 24px; /* Adjust icon size */
  cursor: pointer;
  position: relative; /* Set relative positioning for the bell icon */
}

.notification-badge {
  background-color: red;
  color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 12px;
  font-weight: bold;
}

/* Styling for the notification dropdown */
.notifications-dropdown {
  position: absolute;
  right: 10px;
  top: 70px;
  background-color: white;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
}

.notifications-dropdown h4 {
  margin-top: 0;
  color: #4c1567;
}

.notifications-dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.notifications-dropdown li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.notifications-dropdown li:hover {
  background-color: #f5f5f5;
}

.notifications-dropdown li.unread {
  font-weight: bold;
}

.notifications-dropdown li.read {
  color: #000000;
}

/* Tooltip styling */
.custom-tooltip {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
