.login-container {
  display: flex;
  height: 100vh;
}

.left-side {
  flex: 1;
  background: url('../../Assets/img/login_header.png') no-repeat center center;
  background-size: cover;
  position: relative;
  color: white;
  display: flex; /* Ensure this container is also a flex container */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}

.left-side .logo-overlay {
  position: absolute;
  top: 0; /* Ensure it covers the entire .left-side */
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(87, 17, 98, 0.55) 0%, rgba(134, 24, 147, 0.73) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-side .logo-container {
  margin-bottom: 20px;
}

.left-side .logo {
  width: 130px; /* Specific to the login page */
  height: auto;
}

.left-side .organization-name {
  text-align: center;
  font-size: 24px;
  line-height: 1.4;
  width: 100%; /* Ensures the text alignment has full width to work with */
  margin: 0; /* Remove any default margins */
  padding: 0; /* Ensure there is no padding affecting positioning */
}

.right-side {
  flex: 1;
  background: linear-gradient(to bottom, #ff3cde80, #f0f0f0);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Further styles remain unchanged */


.login-box {
  background: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 80%;
  max-width: 400px;
}

.login-box h2 {
  margin-top: 0;
  color: #580049;
  font-size: 30px;
}

.login-box p {
  color: #666666;
  font-size: 16px;
}

.login-box form {
  display: flex;
  flex-direction: column;
}

.login-box label {
  text-align: left;
  margin-top: 20px;
  color: #0c253f;
  font-size: 14px;
}

.login-box input {
  padding: 10px;
  margin-top: 5px;
  border-radius: 9px;
  border: 1px solid #cccccc;
  font-size: 16px;
}

.login-box .forgot-password {
  text-align: right;
  margin-top: 10px;
}

.login-box .forgot-password a {
  color: #57636C;
  text-decoration: none;
  font-size: 14px;
}

.login-box button {
  margin-top: 20px;
  padding: 10px;
  background: #580049;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}

.login-box button:hover {
  background: #932b62;
}

.signup-link {
  margin-top: 20px;
  color: #666666;
  font-size: 14px;
}

.signup-link a {
  color: #407ce2;
  text-decoration: none;
}

.error {
  color: red !important;
  margin-top: 10px;
  font-size: 14px; /* Optional: Adjust the font size if necessary */
}
