.user-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 400px;
  }
  
  .user-modal .close-button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .user-modal form {
    display: flex;
    flex-direction: column;
  }
  
  .user-modal form div {
    margin-bottom: 1rem;
  }
  
  .user-modal form button {
    align-self: flex-end;
  }
  
  .filter-input,
  .filter-select {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .filter-button,
  .signup-button,
  .action-button,
  .submit-button,
  .cancel-button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .filter-button {
    background-color: #f0f0f0;
    color: #333;
  }
  
  .signup-button {
    background-color: #1db954;
    color: white;
  }
  
  .action-button {
    padding: 5px 10px;
  }
  
  .view-button {
    background-color: #4267b2;
    color: white;
  }
  
  .edit-button {
    background-color: #1db954;
    color: white;
  }
  
  .activate-button {
    background-color: #4caf50;
    color: white;
  }
  
  .archive-button {
    background-color: #ff8b61;
    color: white;
  }
  
  .submit-button {
    background-color: #007bff;
    color: white;
  }
  
  .cancel-button {
    background-color: #6c757d;
    color: white;
  }
  
  .snackbar {
    visibility: visible;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    transform: translateX(-50%);
  }
  
  .snackbar.hide {
    visibility: hidden;
    animation: fadeout 0.5s forwards;
  }
  
  .client-eligibility {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .close-button:hover {
    color: red;
  }