.login-container {
  display: flex;
  flex-direction: column; /* Stack the sides vertically on smaller screens */
  height: 100vh;
}

.left-side, .right-side {
  flex: none;
  width: 100%;
  height: 50%; /* Use half of the screen height for each side */
}

.left-side {
  background: url('../../Assets/img/login_header.png') no-repeat center center;
  background-size: cover;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-side .logo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(87, 17, 98, 0.55) 0%, rgba(134, 24, 147, 0.73) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-side .logo-container {
  margin-bottom: 20px;
}

.left-side .logo {
  width: 130px;
  height: auto;
}

.left-side .organization-name {
  text-align: center;
  font-size: 24px;
  line-height: 1.4;
  width: 100%;
  margin: 0;
  padding: 0;
}

.right-side {
  /* background: linear-gradient(to bottom, #ff3cde80, #f0f0f0); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.login-box h2 {
  margin-top: 0;
  color: #580049;
  font-size: 24px;
}

.login-box p {
  color: #666666;
  font-size: 14px;
}

.login-box form {
  display: flex;
  flex-direction: column;
}

.login-box label {
  text-align: left;
  margin-top: 10px;
  color: #0c253f;
  font-size: 12px;
}

.login-box input {
  padding: 8px;
  margin-top: 5px;
  border-radius: 9px;
  border: 1px solid #cccccc;
  font-size: 14px;
}

.login-box .forgot-password {
  text-align: right;
  margin-top: 10px;
}

.login-box .forgot-password a {
  color: #57636C;
  text-decoration: none;
  font-size: 12px;
}

.login-box button {
  margin-top: 15px;
  padding: 10px;
  background: #580049;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.login-box button:hover {
  background: #932b62;
}

.signup-link {
  margin-top: 20px;
  color: #666666;
  font-size: 14px;
}

.signup-link a {
  color: #407ce2;
  text-decoration: none;
}

.error {
  color: red !important;
  margin-top: 10px;
  font-size: 14px;
}

/* Media Queries for responsiveness */
@media (min-width: 768px) {
  .login-container {
    flex-direction: row; /* Stack the sides horizontally on larger screens */
  }

  .left-side, .right-side {
    flex: 1;
    height: 100%; /* Use full screen height */
  }

  .login-box {
    padding: 40px;
  }

  .login-box h2 {
    font-size: 30px;
  }

  .login-box p {
    font-size: 16px;
  }

  .login-box label {
    font-size: 14px;
  }

  .login-box input {
    font-size: 16px;
  }

  .login-box .forgot-password a {
    font-size: 14px;
  }

  .login-box button {
    font-size: 18px;
  }
}
