/* appointment.css */
.dashboard-container {
  display: flex;
}

.side-nav {
  width: 250px;
  background-color: #4c1567;
  height: 100vh;
  padding-top: 20px;
}

.side-nav a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #f1f1f1;
  display: block;
}

.side-nav a:hover {
  background-color: #575757;
  color: white;
}

.main-content {
  margin-left: 50px;
  padding: 20px;
  width: calc(100% - 260px);
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

select {
  padding: 10px;
  margin-left: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

button {
  background-color: #4c1567;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-buttons button {
  margin: 0 5px;
}
.appointment-details {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

.appointment-details table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.appointment-details table caption {
  font-weight: bold;
  color: #636363;
  font-size: 18px;
  margin-bottom: 10px;
}

.appointment-details th,
.appointment-details td {
  padding: 12px;
  border: 1px solid #ddd;
  width: 10px;
}

.appointment-details th {
  background-color: #f2f2f2;
  text-align: left;
}

.appointment-details h2 {
  color: #45a049;
  text-align: left;
}

.appointment-details td {
  text-align: left;
}

.appointment-details a {
  color: #007bff;
  text-decoration: none;
}

.appointment-details a:hover {
  text-decoration: underline;
}

.close-button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  float: right;
  margin-top: -10px;
  margin-right: -10px;
}

.close-button:hover {
  background-color: #c82333;
}

/* Specific styles for the client eligibility form */
.client-eligibility {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: auto;
}

.client-eligibility h2 {
  color: #333;
  margin-bottom: 20px;
}

.client-eligibility label {
  display: block;
  margin: 10px 0;
}

.client-eligibility input[type="text"],
.client-eligibility textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Styling for React DatePicker */
.react-datepicker {
  font-size: 16px;
  border: none;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 350px; /* Adjust this value as needed */
}

.react-datepicker__header {
  background-color: #f2f2f2;
  border-bottom: none;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #666;
  width: 2.5rem;
  line-height: 2.5rem;
  margin: 0.166rem;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range,
.react-datepicker__day--in-selecting-range {
  background-color: #4caf50;
  color: white;
}

.react-datepicker__day--disabled {
  color: #ccc;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list {
  padding-left: 0;
  padding-right: 0;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box.react-datepicker__time-list-item--disabled {
  opacity: 0.5; /* make disabled times appear faded */
  cursor: not-allowed; /* change cursor to indicate unavailability */
}

.react-datepicker__time-list-item--selected {
  background-color: #4caf50;
  color: white;
}

.booked-time {
  background-color: #d9534f; /* Red color to indicate the slot is booked */
  color: white;
  pointer-events: none; /* Make the time unclickable */
}

.fully-booked-day {
  background-color: red !important;
  pointer-events: none;
}

/* Adjustments for mobile responsiveness */
@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
  }

  .main-content {
    margin-left: 0;
  }

  .client-eligibility {
    padding: 10px;
  }
}

.preview-image {
  width: 100px; /* Set a smaller width or adjust according to your needs */
  height: auto;
  cursor: pointer;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

.disabled-day {
  cursor: not-allowed;
}

/* Appointments.css */
.dashboard-container {
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.appointment-calendar {
  margin-top: 80px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
